.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.link {
  color: var(--brand-primary);
  cursor: pointer;
  transition: color 0.2s;
}

.link:hover {
  color: unset;
}
