:root {
  --brand-primary: #ec6842;
  --brand-secondary: #313945;

  --brand-white: #ffffff;
  --brand-gray-1: #f9f9f9;
  --brand-gray-2: #bcbcbc;
  --brand-gray-3: #747474;
  --brand-black: #333333;
}
* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
