.title {
  text-align: center;
}

.cardCarousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5rem;
}

.contact {
  display: flex;
}

.contact > * {
  flex: 1;
}

.contactImage {
  margin: 2rem;
  position: relative;
}
